exportPattern("^[^\\.]")
useDynLib(partitions, .registration=TRUE)
import("gmp")
import("mathjaxr")
importFrom("polynom",polynomial)
import("Rdpack")
importFrom("Rdpack",reprompt)


S3method(print,partition)
S3method(print,equivalence)
S3method(print,summary.partition)

S3method(summary,partition)
S3method(as.matrix,partition)

export(print)
